
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user %> has invited you to SOME APP NAME</h1>
    <p>
      use the following code at sign up to link your accounts! <br>
    </p>
    <h2>aoshfsndlfknsd</h2>
    <p>
      <a href="http://localhost:3001">
        <button>
          click here to sign up!
        </button>
      </a>
    </p>
  </body>
</html>
